.header {
    background: #FC8507;
    color: #fff;
    min-height: 33px;
    margin-bottom: 16px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
}

.header a{
    color: #fff;
}

.header-menu ul {
    display: flex;
}

.header-menu li {
    margin-left: 15px;
}